@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}


.menu{
  height: 65px;
	width: 100%;
  background-color: rgb(249,230,172);
  
}

.menu ul{
  float: right;
  margin-right: 30px;
}

.menu ul li{
  display: inline-block;
	line-height: 65px;
  margin: 0 5px;
  cursor: pointer;
}



.checkbtn{
  font-size: 30px;
  color: #202020;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display:none;
}
#check{
  display: none;
}


.menu ul li label:hover{
  color: coral;
}

.logo{
  padding: 0 30px;
  line-height: 65px;
  font-family: 'Kaushan Script', cursive;
  color: red;
  font-size: 40px;
}

.vitrine{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  margin-top: 65px;
  grid-gap: 3px;
  
}



@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 50%;
    background: #f6f6f6;
    height: 100vh;
    top: 65px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  .menu ul li
  {
    display:block;
    font-size: 40px;
    background-color: #f6f6f6;
    
    margin-bottom: 20px;
  }

  #check:checked ~ ul{
    left: 0;
  }

  .logo{
    font-size:40px;
  }
}



@media (max-width: 820px){
  .grid-container{
      grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 768px){
  .grid-container{
      margin-top: 65px;
      grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 720px){
  .grid-container{       
      margin: 5px;
      margin-top: 65px;
      grid-template-columns: 1fr;
  }

  
}


.paleta-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}